<div class="review-box container-fluid mt-5" id="reviewbox">
  <h3 id="review-head" style="text-align: center;"><i>Trusted by black market businesses, loved by flouters of the law</i> </h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="review-card" id="reviewcard">
          <div class="d-flex align-items-center">
            <div>
              <p class="review-author">Robin Hood</p>
              <p class="review-date">13th or 14th Century idk</p>
            </div>
          </div>
          <p>God bless the USA for inventing the Dodge Ram. I used to steal from nobility using a bow, arrow, and elusiveness but now I just drive my death machine into their living room. Thank you CarBNB.</p>
        </div>
        <!-- Add more review cards here... -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="review-card" id="reviewcard">
          <div class="d-flex align-items-center">
            <div>
              <p class="review-author">Hans Gruber</p>
              <p class="review-date">July 22, 1988</p>
            </div>
          </div>
          <p>Now I have a BMW. Ho, ho, ho</p>
        </div>
        <!-- Add more review cards here... -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="review-card" id="reviewcard">
          <div class="d-flex align-items-center">
            <div>
              <p class="review-author">Danny Ocean</p>
              <p class="review-date">December 7, 2001</p>
            </div>
          </div>
          <p>I could've used one of these.</p>
        </div>
        <!-- Add more review cards here... -->
      </div>
    </div>
    <h5><center>CarBNB takes no responsibility for any damages incurred by the users of its vehicles. Pay for your own vault mechanic, capitalist pig.</center></h5>
  </div>
</div>
