<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Noto+Sans+Indic+Siyaq+Numbers&family=Staatliches&display=swap" rel="stylesheet">
<div class="container mt-5">
  <h1 class="text-center mb-4" id="header">My Chop Shop</h1>
    <div class="row text-center ">
      <% @rentals.each do |rental| %>
        <div class="col-md-6 mb-5">
          <div class="card">
            <div class="card-header bg-dark text-white" id="cardtop">
              <%= rental.vehicle.model %>
            </div>
            <div class="card-body">
              <p><strong>Start Date:</strong> <%=rental.start_time.strftime("%B %d, %Y") %></p>
              <p><strong>End Date:</strong> <%=rental.end_time.strftime("%B %d, %Y")%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
</div>
