
#banner-head{
  font-family: 'Staatliches', cursive;
  margin-bottom: 70px;
  margin-top: 445px;
  color:white;
  text-align: center;
  vertical-align: center;
  text-shadow: 5px 5px 5px rgb(0, 0, 0)
}
.button-and-text{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  background-image: url(banner-background.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 30px;
  //opacity: 0.9;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px

}

#btn{
  font-family:'Staatliches', cursive;
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 35px;
  border:none;
}

#btn:hover{
 border-radius: 10px;
 transition: 0.5s;
 background-color: whitesmoke;
 box-shadow: 10px 10px 10px darkgray;
 box-shadow: rgb(79, 88, 96) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 padding-left: 70px;
 padding-right: 70px;

}

