#main-container-details{
  background-image: url(car-middle-background.jpg);
  background-size: cover;
  opacity: 0.8;
  background-position: center;
}

#vehicle-details{
  text-align: center;
  box-shadow: 20px white;
  padding-top: 250px;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

#vehicle-model{
  font-size: 60px;
}
