.card-power_source{
  align-content: center;
  background-color:whitesmoke;
  width:150px;
  border-radius:20px;
  padding: 10px;
  text-align: center;
}
.card-power_source:hover{
  background-color: rgb(175, 175, 175);
  transition: 0.5s
}
