#confirmation-card{
  color: black;
  border-radius:20px;
  margin: 200px;
}
.card-header{
  border-radius:20px;
  color:black
}

.main_body{
  background-image: url(rental-details-pic.jpg);
  background-size:cover;
  background-position: center;
  padding-bottom: 230px;
}

#dates{
  padding-top: 50px
}

#message{
  padding-bottom:30px;
}
